<h4>What is this?</h4>

<p><a href="https://github.com/echobind/ember-links-with-follower" target="_blank">Links with Follower</a> provides a component that renders a set of links with a follower line underneath. The follower will animate to the position of the active link, and grow or shrink in size if needed. If no active links are found, the follower will hide.</p>

<p>The navigation above is an example of Links with Follower in action. Since Links with Follower hooks in to the Router's `willTransition` event, you can use `link-to` or `transitionTo` and the follower will still update properly.</p>

<p>Want to override component defaults? <a href="docs/classes/LinksWithFollower.html">Check out the docs</a>.</p>
